*{

box-sizing:border-box;

font-family:"Courier New",monospace;

}


body{

margin:0;

background:#000;

color:#00ffff;

height:100vh;

overflow:hidden;

}



.container{

width:90%;

max-width:500px;

margin:50px auto;

padding:30px;

background:#020914;

border:1px solid #00ffff;

box-shadow:
0 0 30px #00ffff55;

}



.logo{

text-align:center;

font-size:42px;

font-weight:bold;

letter-spacing:10px;

text-shadow:
0 0 20px #00ffff;

}



.subtitle{

text-align:center;

margin:20px 0;

font-size:14px;

}



input{

width:100%;

padding:15px;

margin:10px 0;

background:#000;

color:#00ff99;

border:1px solid #00ffff;

}



button{

width:100%;

padding:15px;

margin-top:20px;

background:#00ffff;

border:0;

font-size:18px;

}



#screen{

display:none;

padding:20px;

height:100vh;

}



.top{

display:flex;

justify-content:space-between;

font-size:20px;

}



.targetBox{

margin-top:20px;

padding:15px;

border:1px solid #00ffff;

}



#code{

height:45vh;

margin-top:20px;

overflow:hidden;

font-size:14px;

line-height:25px;

color:#00ff88;

}



.line{

animation:
move .3s linear;

}



@keyframes move{

from{

opacity:0;

}

to{

opacity:1;

}

}



.progressBox{

height:20px;

border:1px solid #00ffff;

}



#progress{

height:100%;

width:0%;

background:#00ff88;

}



#result{

margin-top:30px;

text-align:center;

font-size:28px;

color:#00ff88;

}


@media(max-width:600px){

.logo{

font-size:32px;

letter-spacing:5px;

}


#code{

font-size:12px;

}

}
